body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  font-size: 30px;
}
h1{
  font-size: 1rem;
}
p{
  font-size: 1.0rem;
  padding-block: 5px;
}
.pricing-section {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f4f2fd;
  box-sizing: border-box;
}
.card {
  width: 250px;
  height: fit-content;
  background-color: white;
  border-radius: 7px;
  padding-top: 50px;
  padding-left: 35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn {
  background-color: #202842;
  color: white;
  border-radius: 24px;
  font-size: 18px;
  padding: 10px 35px;
  margin: 30px auto;
  border-color: transparent;
}
#dark{
  background-color: #202842 ;
  color: white;
}
#dark .btn{
  background-color: white;
  color: #202842;
  border-radius: 24px;
  font-size: 18px;
  padding: 10px 35px;
  margin: 30px auto;
  border-color: transparent;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-left: -35px;
}
